*{
    margin: 0; 
    padding: 0;
  }


body {
  background-image: linear-gradient(#ff2600, white);
}
 
.navbar_main{
display: inline-block;
background-color: #FF3D1B;
width: 100%;
font-size:2vw;
position: sticky;
}


.navbar_visual, figure {
display: inline-block;
height: 9vw;
width: 7vw;
float: left;
padding-left: 5px;
}

.navbar_items{
display: inline-block;
float: left;
}


.navbar_options {
display: inline-block;
font-family: 'Sansita Swashed', cursive;
color: white;
text-decoration: none;
padding: 50px 30px 0px 30px
}

.navbar_main a:hover {
color: #625261;
text-shadow: 2px 2px #ffc7c7;
}
/* Home Page */

#home_body {
  background: white;
  margin: 0; 
  padding: 0;
  
}

.hero_image {
  background-image: url("Images/hk7.jpg");
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero_text_container {
  font-family: 'Sansita Swashed', cursive;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #e8e8e8;

}

.hero_text {
  padding: 15px;
  text-shadow: 2px 1px red;
  font-size: 6vmin;
}

.hero_text_container button {
  font-family: 'Quicksand', sans-serif;
border-radius: 30px;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 20px 55px;
  color: black;
  background-color: #ffe2e2;
  text-align: center;
  cursor: pointer;
}

.hero_text_container button:hover {
  background-color: #555;
  color: white;
}

.doll_of_month_container {
  display: flex;
  background-color: white;
  margin: 100px 0px;
  justify-content: center;
}


.doll_of_month_container > div {
  background-color: #FFE2E2;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  width: 500px;
  text-align: center;
  border-radius: 10px; 
}
.doll_of_month_header{
  font-family: 'Sansita Swashed', cursive;
  padding: 15px
}

.doll_of_month_p{
  font-family: 'Quicksand', sans-serif;
  padding: 15px;
}

.doll_of_month_button {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
display: block;
font-family: 'Quicksand', sans-serif;
font-size: 20px;
color: white;
background: #ff2600;
padding: 10px;
width: 200px;
border-radius: 10px;
border: none;
margin: 30px;
transform: translate(50%, 50%);
}


.stars img {
  display: inline-block;
  background-color: transparent;
  height: 120px;
  width: 60%;
  position:relative; position:relative; 
  left:20%;
  }

  .stars_text {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    padding: 1px;
    position:relative; position:relative; 
    left:23%;
    margin-bottom: 100px;
  }


/* Products Page */


.product_header {
font-family: 'Sansita Swashed', cursive;
font-size: 170%;
padding-bottom: 10px;
}

.product_description {
font-family: 'Raleway', sans-serif;
font-size: 100%;

}
.price_cart_box {    
float: left;
 margin: 10px;
}

.price {
display: inline-block;
}

.add_to_cart {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
display: inline-block;
font-family: 'Raleway', sans-serif;
color: white;
background: #ff2600;
padding: 3px 10px;
border-radius: 8px;
border: none;
}

.add_to_cart:hover {
    background: greenyellow;
    color: black;
}


.flexbox_container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 15px;
    align-items: center; 
    margin-bottom: 120px;
}


.flexbox_item {
    width: 200px;
    margin: 10px;
    border: 3px dashed grey;
    background-color:white;
    padding: 20px;
    
    
}

.flexbox_item:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.flexbox_item_1, .flexbox_item_2, .flexbox_item_3,.flexbox_item_4, .flexbox_item_5, .flexbox_item_6, .flexbox_item_7,
.flexbox_item_8, .flexbox_item_9, .flexbox_item_10, .flexbox_item_11, .flexbox_item_12 {
    min-height: 100px;
    min-width: 350px;
    text-align: center;
}

/* Contact Us Page */

.navbar_contact{
  background-color: #ff2600;
  display: inline-block;
  width: 100%;
  font-size:2vw;
  position: sticky;
  }

div .contactBox {
  width: 100%;
}

.contactBox {
  margin: auto;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size:3vmin;
  margin: 25px 0px;
  color:white;
  width: 100%;
  padding: 0px;
  margin-right: 0;
}

#rate{
  background-color: red;
  color: white;
  border-radius: 30px;
  font-family: 'Quicksand', sans-serif;
  padding: 3px;
}

input{
  border-radius: 30px;
}

textarea{
  border-radius: 30px;
  color:black;
  padding: 5px 25px 5px 6px
}

.bow_img {
  display: inline;
  height: 60px;
  width: 80px;
  padding: 3px;
}

.submit_button{
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
display: inline-block;
font-family: 'Quicksand', sans-serif;
font-size: 20px;
color: white;
background: #ff2600;
padding: 15px;
width: 200px;
border-radius: 30px;
border: none;
}

/* Footer */


footer {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    height: 95px;
    
  }
  
  .grid-container {
    width: 100%;
    display: grid;
    padding: 0px;
    background-color: #ff2600;
    height: 95px;
  }
  
  .copyright_text {
    color: white;
    font-family: 'Sansita Swashed', cursive;
    font-size: 20px;
    padding: 0px;
    margin: 10px auto 10px;
  }
  .item1 {
    grid-column: 1 / span 1;
    grid-row: 1;
    height:40px;
     
  }
  
  .item2 {
    grid-column: 1;
   grid-row: 2 / span 2;
   height:40px;
  }
  
  .item3 {
  grid-column: 2;
  grid-row: 1 / span 3;
  margin-right: 255px;
  height:80px;
  }
  

  .item4 {
  grid-column: 3;
  grid-row: 1 / span 3;
  height:80px;
  }
  .item1, .copyright_text{
text-align: center;
  }

  .item2, .socials{
    margin: auto;
  }

  .item3, .footer_logo{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
  }
  .item4, #byMe, #MePic{
    text-align: center;
  }
  .socials {
    height:20px; 
    width: 20px; 
    float: right; 
    padding: 0px 15px;
   
  } 

  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  .socials:hover{
    animation: shake 0.5s;
  animation-iteration-count: infinite;
  }
  
  .footer_logo{  
    width:85px;
    height:60px;
  }
  
  #mePic {
    border-radius: 50%;
   margin-top: 10px;
    width:45px;
    height: 45px;
  }
  
  #byMe {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    color: white;
  }
  
  
 
  
  @media all and (max-width: 800px) { 
    .navbar_main{
      display: inline-block;
      background-color: #FF3D1B;
      width: 100%;
      font-size:5vw;
      position: sticky;
      }
        
        .navbar_visual, figure {
        display: inline-block;
        height: 16vw;
        width: 13vw;
        float: left;
        padding-left: 5px;
        }
        

        .doll_of_month_container {
          display: grid;
          grid-template-columns: auto ;
          grid-gap: 10px;
          background-color: white;
          padding: 0px;
        }
      
      .doll_of_month_container > div {
        background-color: #FFE2E2;
        display: grid;
        text-align: center;
        border-radius: 10px; 
      }
      .doll_of_month_header{
        font-family: 'Sansita Swashed', cursive;
        padding: 15px
      }
      
      .doll_of_month_p {
        font-family: 'Quicksand', sans-serif;
        font-size: 3vmax;
        padding: 0px;
        display:inline-block;
      }
      
    
      
      .stars img {
        display: inline-block;
        background-color: transparent;
        height: 120px;
        width: 60%;
        position:relative; position:relative; 
        left:20%;
        }
      
        .stars_text {
          font-family: 'Quicksand', sans-serif;
          font-size: 20px;
          padding: 1px;
          position:relative; position:relative; 
          margin-bottom: 100px;
          left:15%;
          width:100%;
        }
        .flexbox_item_1, .flexbox_item_2, .flexbox_item_3,.flexbox_item_4, .flexbox_item_5, .flexbox_item_6, .flexbox_item_7,
.flexbox_item_8, .flexbox_item_9, .flexbox_item_10, .flexbox_item_11, .flexbox_item_12 {
    min-height: 100px;
    min-width: 200px;
    text-align: center;
}
      }      
    
  
      @media all and (min-width: 800px) { 
        .navbar_main{
          display: inline-block;
          background-color: #FF3D1B;
          width: 100%;
          font-size: 4vmin;
          position: sticky; }
            
            .navbar_visual, figure {
            display: inline-block;
            height: 9vw;
            width: 7vw;
            float: left;
            padding-left: 5px;
            }


          
           .doll_of_month_container > div {
              background-color: #FFE2E2;
              display: grid;
              text-align: center;
              border-radius: 0px; 
              font-size: 30px;
              margin: 0;
              padding: 0;
            }
            }





